# Keep this file separate (duh)

users = ['collective_inf']
user_idx = 0

def oauth() :
	return user_oauth1_secrets[user_idx]

def oauth2() :
	return bearer_tokens[user_idx]

# OAuth1 secrets by user
user_oauth1_secrets = [	
	# collective_inf
	{ "consumer_key" : "4mDN9alYh1jnSOedICOzOogTM",
		"consumer_secret" : "L2vFEjeGBMr3Z3bOcqZ3I2kXjgI3XZflXcuCnhxfH1W0vK0M3m",
		"token_key" : "4147762347-P3Sb4A6KGVHq2L08DJGmkCiu28YDbxB5o3Mn8w5",
		"token_secret" : "PuUItHkBk5m3GhHBLODCn9T7EI7K08PbG3ABLEda6YiDX" }
]

# OAuth2 bearer tokens
bearer_tokens = [
	# @collective_inf - KCoreTweetMiner
	('KCoreTweetMiner', 'AAAAAAAAAAAAAAAAAAAAAHtYigAAAAAAvNQAflz2oE5cHdYfEM4HN9HwLzs%3DqKYh6l8dVK5KuUV9BROSRNZ0IulCoD4HnK2gYbwzyQ4ro3S3uX')
]
